@font-face {
	font-family: 'ManropeL';
	src: url('fonts/Manrope-Light.eot');
	src: local('☺'), url('fonts/Manrope-Light.woff') format('woff'), url('fonts/Manrope-Light.ttf') format('truetype'), url('fonts/Manrope-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
body {
	background-color: #5A005D;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%
	min-width:1536px;
}
header {
	background-color: #441146;
	width: 100%;
	height: 40px;
	position: fixed;
	z-index: 100;
	filter: opacity(0%);
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);

	display:inline-flex;
	justify-content: center;
}
p,a,h1,h2,h3,h4,h5,h6 {
font-family: Courier;
}
a {
	text-decoration: none;
}
#container {
	width: 100%;
	height: 80%;
	background-color: ;
	background-color: ;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.nav-a {
	color: white;
	padding:5%;

}
nav {
	display: inline-flex;
	justify-content:center;
	align-items: center;
	width: 100%;
	height: 100%;

}

/* START  */

#start {
	width: 100%;
	height: 300px;

	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15% 0% 0% 0%;
	background-color: ;	

}
#start_w,#start_w2  {
color: white;
text-align: center;
font-size: 2%;
filter: opacity(0%);
z-index: 5

}

#backs2d {
	width: 100%;
	display: inline-flex;
	filter: opacity(0%);
	justify-content: center;
	position: fixed;
	z-index: 1;
}
#back {
	width: 100%;
	filter: opacity(25%);
}
#header_logo {
	display: none;
	width: 35px;
}

#start-next {
	width: 100%;
	height: 300px;
	justify-content: center;
	margin: 5% 0% 0% 0%;
	display: none;
	background-color: ;
	z-index: 5;
	
}
#start_next_one {
	display: inline-flex;
	align-items: center;
	margin: 2% 0% 0% 0% ;
	cursor: pointer;
	background-color: ;
	height: 200px;
}

#start_next_left {
	width: 30px;
	height: 20px;
	transform: skewY(45deg);
	background-color: white;
}
#start_next_right {
	width: 30px;
	height: 20px;
	transform: skewY(-45deg);
	background-color: white;

}

/*  PROJECT */
#proj {
	width: 85%;
	height: 2000px;

	background-color:  ;
	align-items: center;
	flex-direction: column;
	display: none;
	z-index: 5;
	margin: 5% 0% 0% 0%;
}
#projh {
	color: white;
}

.proj_one {
display: inline-flex;
justify-content: flex-start;
align-items: center;
width: 100%;
height: 300px;
background-color:;

perspective: 400px;

margin: 10% 0% 0% 0%;
}
/* Наполнение PROJECT */

/*Набор 1*/
.proj_one_img {
	width: 30%;
	height: 100%;
	background-color: red;

	transform: rotate3d(5,10,-5,5deg);
	border-radius: 10px;
	box-shadow: -20px 25px 0px 0px rgba(58, 0, 60, 0.7);


}

.proj_one_text {
	width: 100%;
	height: 100%;
	background: ;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.one_text_h {
	margin: 0% 0% 0% 0% ;
	font-family: Helvetica;
	color: white;
}
.one_text_p {
	width: 93%;
	font-family: Helvetica;
	color: white;
	margin: 2% 0% 0% 0%;
}
.stats {
	width: 93%;
	height: 100%;
	background-color: ;
}
.link {
	width: 93%;
	height: 100%;
	background-color: ;
	display: inline-flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.link_a {
		font-family: Helvetica;
		color: white;
		margin: 0% 1% 0% 0%;
}
.proj_num {
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
	background-color: ;
}
.proj_num_p {
	font-family: Helvetica;
	color: white;
	margin: 0% 1% 0% 0%;
}

/* Набор 2*/
.proj_two_img {
	width: 30%;
	height: 100%;
	background-color: red;
/*	transform: rotate3d(5,10,-5,5deg);*/
	transform: rotate3d(5,-10,5,5deg);
	border-radius: 10px;
	box-shadow: 20px 25px 0px 0px rgba(58, 0, 60, 0.7);

}

.proj_one_text {
	width: 100%;
	height: 100%;
	background: ;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.one_text_h {
	margin: 0% 0% 0% 0% ;
	font-family: Helvetica;
}
.one_text_p {
	width: 93%;
	font-family: Helvetica;
	margin: 2% 0% 0% 0%;
}
.stats {
	width: 93%;
	height: 100%;
	background-color: ;
}
.link_two {
	width: 93%;
	height: 100%;
	background-color: ;
	display: inline-flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.link_a_two {
		font-family: Helvetica;
		color: white;
		margin: 0% 0% 0% 1%;
}
.proj_num_two {
	width: 100%;
	display: inline-flex;
	justify-content: flex-start;
	background-color: ;
}
.proj_num_p {
	font-family: Helvetica;
	margin: 0% 0% 0% 1%;
}
.one_text_a {
	font-family: Helvetica;
	color: white;
	text-decoration: underline;
}

/* Остальное */

#basement {
	width: 100%;
	height:300px;
	background-color: rgba(68, 17, 70, 0.75) ;
	z-index: 5;
	display: none;
	flex-direction: column;
	align-items: center;
}
#basement_nav {
	width: 80%;
	height: 40px;
	display: inline-flex;
	justify-content: center;
	background-color: red;
}

#basement_img {
	width: 15%;
	position: absolute;
	filter: opacity(5%);
}
#basement_one {
	width: 65%;
	height: 100%;
	background-color: ;

	display: inline-flex;
	align-items: center;
	justify-content: space-around;
}
#contacts {
width: 15%;
height: 80%;
background-color:  ;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.contacts_p {
	color: white;
	font-family: Helvetica;
}
.ul {
		border-left: 1px solid white;
}
.contacts_li {
	padding-top: 10%;
}
.cont_ogl {
		font-family: Helvetica;
		color: white;
		margin: 0% 0% 0% 0% ;
}



